name: time_scheduler_table
description: A time table with the ability to add, delete and update events by clicking on cells.
version: 1.0.1
homepage: https://github.com/githuseyingur/time_scheduler_table.git

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0



flutter:

  
